@charset "UTF-8";
@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Noto Sans CJK JP"), url("/resource/fonts/min/NotoSansCJKjp-Regular_min.woff2") format("woff2");
}

@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("Noto Sans CJK JP"), url("/resource/fonts/min/NotoSansCJKjp-Bold_min.woff2") format("woff2");
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'NotoSansCJKjp', '游ゴシック Medium', YuGothic, YuGothicM, 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, sans-serif;
  line-height: 2;
  color: #333;
}

@media (min-width: 1024px) {
  body {
    font-size: 1.6rem;
    color: #111;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity .4s;
}

a:hover, a:focus {
  opacity: .6;
}

h1 {
  font-size: 24px;
  line-height: 1.5;
}

h2 {
  font-size: 22px;
  line-height: 1.5;
}

h3 {
  font-size: 20px;
  line-height: 1.5;
}

h4 {
  font-size: 18px;
  line-height: 1.5;
}

.hidden {
  display: none;
}

html.hidden {
  display: block;
  height: 100%;
  overflow: hidden;
}

.skip-text {
  position: fixed;
  top: -100%;
}

.header-inner {
  position: relative;
  padding-top: 6rem;
}

@media (min-width: 1024px) {
  .header-inner {
    width: 98%;
    max-width: 1500px;
    margin: 0 auto;
  }
}

.mv-area {
  width: 96%;
  margin: 0 auto;
  border-bottom: 1px solid;
  padding-bottom: 30px;
}

.mv-area .inner {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.mv-area .title {
  font-weight: bold;
  font-size: 1.2rem;
}

.mv-area .sub-title {
  display: block;
  font-size: 1rem;
  color: #908787;
}

.mv-area .description {
  font-size: 1.2rem;
  text-align: center;
  width: 93%;
  margin: 1rem auto 0;
}

@media (min-width: 1024px) {
  .mv-area .title {
    font-size: 1.4rem;
  }
  .mv-area .sub-title {
    font-size: 1.2rem;
  }
  .mv-area .description {
    font-size: 1.4rem;
  }
}

.local-nav .list {
  position: absolute;
  top: 2.2rem;
  left: 1.6rem;
}

.local-nav .list-item {
  display: inline-block;
  font-size: 1.2rem;
  color: #908787;
  letter-spacing: .1em;
}

.local-nav .list-item:not(:first-child) {
  margin-left: 1.6rem;
}

@media (min-width: 1024px) {
  .local-nav .list-item {
    font-size: 1.4rem;
  }
}

.humburger-btn {
  font-size: 0;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 15px;
  height: 12px;
  border: none;
  background-color: transparent;
}

.humburger-btn::before, .humburger-btn[aria-expanded="false"] .humburger-btn-inner::before, .humburger-btn::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 2px solid;
}

.humburger-btn[aria-expanded="true"]::before, .humburger-btn[aria-expanded="false"] .humburger-btn-inner[aria-expanded="true"]::before {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}

.humburger-btn[aria-expanded="true"]::after {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.humburger-btn[aria-expanded="false"]::before, .humburger-btn[aria-expanded="false"] .humburger-btn-inner[aria-expanded="false"]::before {
  top: 0;
}

.humburger-btn[aria-expanded="false"]::after {
  bottom: 0;
}

.humburger-btn[aria-expanded="false"] .humburger-btn-inner::before {
  top: calc(50% - 1px);
}

@media (min-width: 1024px) {
  .humburger-btn {
    display: none;
  }
}

.global-nav-wrapper {
  display: block;
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  background-color: #fff;
  padding-top: 40px;
  opacity: 1;
}

.global-nav-wrapper:not([data-anime="none"]) {
  transition: opacity .6s;
}

.global-nav-wrapper.hidden {
  opacity: 0;
}

.global-nav-wrapper .list-item {
  font-size: 1.6rem;
  margin: 1.8rem 0;
}

.global-nav-wrapper .list-item .text-link.selected {
  display: inline-block;
  padding-bottom: -3px;
  border-bottom: 1px solid;
}

@media (min-width: 1024px) {
  .global-nav-wrapper {
    position: static;
    width: 100%;
    padding: 10px 0 0;
  }
  .global-nav-wrapper .list {
    display: flex;
    justify-content: center;
  }
  .global-nav-wrapper .list-item {
    font-size: 1.8rem;
    margin: 0 2.2rem;
  }
}

footer {
  background-color: #34495c;
  color: #c9c0c0;
  padding: 35px 0 40px;
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  footer {
    font-size: 1.4rem;
  }
}

.foot-nav {
  padding-bottom: 30px;
}

.foot-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.foot-list .list-item {
  margin: .8rem 1.5rem;
}

.copyright {
  margin-top: 40px;
  text-align: center;
}

main {
  max-width: 1500px;
  margin: 0 auto;
}

.wrapper {
  width: 90%;
  max-width: 760px;
  margin: 0 auto;
  padding: 50px 0 70px;
}

.wrapper .content {
  padding-bottom: 50px;
}

@media (min-width: 1024px) {
  .wrapper {
    width: 90%;
    max-width: none;
    display: flex;
    justify-content: space-between;
  }
  .wrapper .content {
    width: 70%;
  }
  .wrapper .sidebar {
    width: 22%;
  }
}

@media (min-width: 768px) {
  .article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}

.article-list > .list-item {
  overflow: hidden;
  margin: 0 auto;
}

.article-list > .list-item:not(:first-child) {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .article-list > .list-item {
    margin: 0 2.5%;
    max-width: none;
    width: 45%;
  }
  .article-list > .list-item:first-child {
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #c9c0c0;
  }
}

.article-list > .list-item .article-link {
  position: relative;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
}

.article-list > .list-item .article-link::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  position: absolute;
  bottom: 0;
  left: 0;
}

.article-list > .list-item .article-link .hdg-03 {
  order: 2;
  margin-top: 5px;
}

.article-list > .list-item .article-link .date {
  order: 1;
  display: inline-block;
  width: 100px;
  padding: 3px 0;
  text-align: center;
  font-size: 1.2rem;
  color: #e1dbdb;
  background-color: #46637d;
}

@media (min-width: 1024px) {
  .article-list > .list-item .article-link .date {
    font-size: 1.4rem;
  }
}

.article-list > .list-item .article-link .genre {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #000;
  transform: rotate(45deg);
}

.article-list > .list-item .article-link .genre .inner {
  display: inline-block;
  width: 90%;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: 5px;
  left: 5%;
}

.article-list > .list-item .article-link .tag-list {
  order: 3;
  display: flex;
}

.article-list > .list-item .article-link .tag-list .list-item {
  display: inline-block;
  margin-right: 1.5rem;
  color: #908787;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .article-list > .list-item .article-link .tag-list .list-item {
    font-size: 1.2rem;
  }
}

.article-list > .list-item .article-link .description {
  order: 4;
  font-size: 1.4rem;
  padding: 10px 0 30px;
  line-height: 2;
}

@media (min-width: 1024px) {
  .article-list > .list-item .article-link .description {
    font-size: 1.6rem;
  }
}

.article-list > .list-item .article-link .article-img {
  width: 25%;
  margin: 0 auto;
  order: 0;
}

.pager {
  margin: 30px 0 0;
}

@media (min-width: 1024px) {
  .pager {
    margin: 40px 0 0;
  }
}

.pager-list {
  display: flex;
  justify-content: center;
}

.pager-list .list-item {
  margin: 0 3px;
  align-items: center;
}

.pager-number {
  font-weight: bold;
}

.pager-number[aria-current="page"] {
  text-decoration: underline;
}

.pager-btn {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding: .7rem 0;
  background-color: #fff;
  overflow: hidden;
  transition: background-color .6s;
}

@media (min-width: 768px) {
  .pager-btn {
    width: 42px;
    padding: 1.2rem 0;
    font-size: 1.4rem;
  }
}

.pager-btn:hover, .pager-btn:focus {
  background-color: #46637d;
  color: #c9c0c0;
  opacity: 1;
}

.pager-btn .inner {
  position: relative;
  z-index: -1;
}

.pager-btn.back::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
  left: calc(50% - 4px);
}

.pager-btn.back::before:hover {
  border-top-color: #c9c0c0;
  border-left-color: #c9c0c0;
}

@media (min-width: 768px) {
  .pager-btn.back::before {
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    left: calc(50% - 5px);
  }
}

.pager-btn.next::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: calc(50% - 4px);
}

.pager-btn.next::before:hover {
  border-top-color: #c9c0c0;
  border-right-color: #c9c0c0;
}

@media (min-width: 768px) {
  .pager-btn.next::before {
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    right: calc(50% - 5px);
  }
}

.pager-btn.first::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
  left: 6px;
}

.pager-btn.first::before:hover {
  border-top-color: #c9c0c0;
  border-left-color: #c9c0c0;
}

@media (min-width: 768px) {
  .pager-btn.first::before {
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    left: 12px;
  }
}

.pager-btn.first::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
  left: 14px;
}

.pager-btn.first::after:hover {
  border-top-color: #c9c0c0;
  border-left-color: #c9c0c0;
}

@media (min-width: 768px) {
  .pager-btn.first::after {
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    left: 20px;
  }
}

.pager-btn.last::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: 6px;
}

.pager-btn.last::before:hover {
  border-top-color: #c9c0c0;
  border-right-color: #c9c0c0;
}

@media (min-width: 768px) {
  .pager-btn.last::before {
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    right: 12px;
  }
}

.pager-btn.last::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: 14px;
}

.pager-btn.last::after:hover {
  border-top-color: #c9c0c0;
  border-right-color: #c9c0c0;
}

@media (min-width: 768px) {
  .pager-btn.last::after {
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    right: 20px;
  }
}

.article-content {
  overflow: hidden;
}

.article-content .hdg-01 {
  order: 2;
  font-size: 2rem;
  text-align: left;
  margin-top: 15px;
}

@media (min-width: 1024px) {
  .article-content .hdg-01 {
    font-size: 2.4rem;
    text-align: center;
  }
}

.article-content .hdg-01-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #c9c0c0;
}

.article-content .hdg-01-wrapper .date {
  order: 1;
  display: block;
  width: 80px;
  margin: 0 auto;
  padding: 2px 0;
  text-align: center;
  font-size: 1rem;
  color: #e1dbdb;
  background-color: #46637d;
}

@media (min-width: 1024px) {
  .article-content .hdg-01-wrapper .date {
    font-size: 1.2rem;
  }
}

.article-content .hdg-01-wrapper .tag-list {
  order: 3;
  display: flex;
  justify-content: center;
}

.article-content .hdg-01-wrapper .tag-list .list-item {
  display: inline-block;
  margin: 0 1.5rem;
  color: #908787;
  font-size: 1rem;
}

.article-content .hdg-01-wrapper .tag-list .list-item::before {
  content: none;
}

@media (min-width: 1024px) {
  .article-content .hdg-01-wrapper .tag-list .list-item {
    font-size: 1.2rem;
  }
}

.article-content .hdg-02 {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  text-align: left;
  max-width: 55%;
  margin-top: 45px;
  margin-left: 30px;
}

@media (min-width: 1024px) {
  .article-content .hdg-02 {
    font-size: 2.2rem;
  }
}

.article-content .hdg-02::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: calc(100% + 15px);
  top: 50%;
  width: 1000px;
  border-top: 1px solid #c9c0c0;
}

.article-content .hdg-02::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: calc(100% + 15px);
  top: 50%;
  width: 1000px;
  border-top: 1px solid #c9c0c0;
}

.article-content .hdg-03 {
  position: relative;
  font-size: 1.7rem;
  margin-top: 30px;
  padding-left: 20px;
}

@media (min-width: 1024px) {
  .article-content .hdg-03 {
    font-size: 2rem;
  }
}

.article-content .hdg-03::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  border-left: 15px solid #e5e1e1;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.article-content .hdg-04 {
  font-size: 1.6rem;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .article-content .hdg-04 {
    font-size: 1.8rem;
  }
}

.article-content .hdg-05 {
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .article-content .hdg-05 {
    font-size: 1.7rem;
  }
}

.article-content .text {
  margin-top: 50px;
}

.article-content .text-link {
  text-decoration: underline;
}

.article-content .text-em {
  font-weight: bold;
  font-style: normal;
}

.article-content .text-strong {
  font-weight: bold;
}

.article-content .list {
  margin-top: 20px;
  margin-left: 20px;
}

.article-content .list-item {
  position: relative;
}

.article-content .list-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 12px;
  right: calc(100% + 5px);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c9c0c0;
}

.article-content .list-item > .list {
  margin-top: 0;
}

.article-content .list.symbol .list-item .symbol-num {
  position: absolute;
  right: calc(100% + 5px);
}

.article-content .list.symbol .list-item::before {
  content: none;
}

.article-content .desc {
  margin-top: 30px;
}

@media (min-width: 1024px) {
  .article-content .desc {
    margin-top: 40px;
  }
}

.article-content .desc-wrapper:not(:first-child) {
  margin-top: 20px;
}

.article-content .desc-title {
  font-weight: bold;
}

.article-content .code {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 30px 10px;
  background-color: #000;
  color: #f0f0f0;
}

.article-content .img-wrapper {
  width: 100%;
  margin-top: 60px;
}

.article-content .img-l {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .article-content .img-l {
    width: 85%;
  }
}

@media (min-width: 1024px) {
  .article-content .img-l {
    width: 70%;
  }
}

.article-content .img-m {
  margin: 0 auto;
  width: 80%;
}

@media (min-width: 768px) {
  .article-content .img-m {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .article-content .img-m {
    width: 50%;
  }
}

.article-content .img-s {
  margin: 0 auto;
  width: 60%;
}

@media (min-width: 768px) {
  .article-content .img-s {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .article-content .img-s {
    width: 30%;
  }
}

.sidebar-box:not(:first-child) {
  margin-top: 50px;
}

.sidebar-box .side-hdg02 {
  color: #e1dbdb;
  font-size: 2rem;
  text-align: center;
  padding: .7rem 0;
  background-color: #34495c;
}

.sidebar-box > .inner {
  padding: 30px 15px;
  border: 1px solid #e1dbdb;
  border-top: 0;
}

.sidebar-box > .inner .img-wrapper {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .sidebar-box > .inner .img-wrapper {
    width: 120px;
    height: 120px;
  }
}

.sidebar-box > .inner .img-wrapper .profile-pic {
  width: 100%;
}

.sidebar-box > .inner .name {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 1024px) {
  .sidebar-box > .inner .name {
    font-size: 1.8rem;
  }
}

.sidebar-box > .inner .description {
  font-size: 1.4rem;
  margin-top: 10px;
}

.sidebar-box > .inner .description a {
  text-decoration: underline;
}

.sidebar-box .new-article > .list-item:not(:first-child) {
  padding-top: 15px;
}

.sidebar-box .new-article > .list-item:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px solid #c9c0c0;
}

.sidebar-box .new-article > .list-item .article-link {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  margin: 0 auto;
  padding: 25% 0 10%;
  overflow: hidden;
}

.sidebar-box .new-article > .list-item .article-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: .6;
  z-index: -1;
}

@media (min-width: 1024px) {
  .sidebar-box .new-article > .list-item .article-link {
    max-width: auto;
  }
}

.sidebar-box .new-article > .list-item .article-link .side-hdg03 {
  font-size: 1.6rem;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .sidebar-box .new-article > .list-item .article-link .side-hdg03 {
    font-size: 1.8rem;
  }
}

.sidebar-box .new-article > .list-item .article-link .date {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  width: 80px;
  padding: 3px 0;
  text-align: center;
  font-size: 1rem;
  color: #e1dbdb;
  background-color: #46637d;
}

@media (min-width: 1024px) {
  .sidebar-box .new-article > .list-item .article-link .date {
    font-size: 1.2rem;
  }
}

.sidebar-box .new-article > .list-item .article-link .genre {
  position: absolute;
  top: -45px;
  right: -45px;
  width: 90px;
  height: 90px;
  color: #fff;
  background-color: #000;
  transform: rotate(45deg);
}

.sidebar-box .new-article > .list-item .article-link .genre .inner {
  display: inline-block;
  width: 90%;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 5%;
}

.sidebar-box .new-article > .list-item .article-link .tag-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar-box .new-article > .list-item .article-link .tag-list .list-item {
  display: inline-block;
  margin: 0 .8rem;
  color: #c9c0c0;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .sidebar-box .new-article > .list-item .article-link .tag-list .list-item {
    font-size: 1.2rem;
  }
}

.sidebar-box .new-article > .list-item .article-link .side-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
