<footer id="Footer">
<nav class="foot-nav">
<ul class="foot-list">
<li class="list-item"><a class="text-link" href="/">Home</a></li>
<li class="list-item"><a class="text-link" href="/article/work/">Work</a></li>
<li class="list-item"><a class="text-link" href="/article/js/">JavaScript</a></li>
<li class="list-item"><a class="text-link" href="/article/html/">HTML</a></li>
<li class="list-item"><a class="text-link" href="/article/css/">CSS</a></li>
<li class="list-item"><a class="text-link" href="/article/arekore/">A RE KO RE</a></li>
</ul>
<p class="copyright"><small>©2019 arl-blog.com</small></p>
</nav>
</footer>