<header>
<noscript class="noscript">このページのコンテンツはJavaScriptを無効にしていると表示されません。JavaScriptを有効にして再度読み込みください。</noscript>
<div class="header-inner">
<div class="mv-area">
<div class="inner">
<p class="title">arl-blog.com<small class="sub-title">Web Front-end Engineer Blog</small></p>
<p class="description">某Web制作会社フロントエンドエンジニアの学習、思考、などなど、あれこれをアウトプットするBlog</p>
</div><!-- /.inner -->
</div><!-- /.mv-area -->
<nav class="local-nav">
<ul class="list">
<li class="list-item"><a class="text-link" href="/">Home</a></li>
<li class="list-item"><a class="text-link" href="/profile/">Profile</a></li>
</ul>
</nav>
<button class="humburger-btn" id="HumburgerBtn" aria-controls="GlobalNavWrapper" aria-expanded="false"><span class="humburger-btn-inner">Menu</span></button>
<div class="global-nav-wrapper" id="GlobalNavWrapper" aria-labelledby="GlobalNavName">
<h2 class="hidden" id="GlobalNavName">グローバルナビメニュー</h2>
<nav class="global-nav">
<ul class="list">
<li class="list-item"><a class="text-link" href="/article/work/">Work</a></li>
<li class="list-item"><a class="text-link" href="/article/javascript/">JavaScript</a></li>
<li class="list-item"><a class="text-link" href="/article/html/">HTML</a></li>
<li class="list-item"><a class="text-link" href="/article/css/">CSS</a></li>
<li class="list-item"><a class="text-link" href="/article/arekore/">A RE KO RE</a></li>
<li class="list-item"><a class="text-link" href="/article/private/">Private</a></li>
</ul>
</nav>
</div><!-- /.global-nav-wrapper -->
</div><!-- /.header-inner -->
</header>