
<div class="sidebar">
<div class="sidebar-box">
<h2 class="side-hdg02">Profile</h2>
<div class="inner">
<div class="img-wrapper"><img class="profile-pic" src="/resource/img/profile.jpg" alt=""></div>
<p class="name">arl</p>
<p class="description">
1993年生まれ。Web業界歴は3年目。前職は美容師。<br>
Webフロントエンドエンジニアとして某制作会社で勤務中。<br>
主にWebフロントエンドエンジニアのTech系記事を書きつつ、それに絡めた仕事への考えだったりの記事も書いていこうと思ってます。<br>
</p>
</div><!-- /.inner -->
</div><!-- /.sidebar-box -->
<div class="sidebar-box">
<h2 class="side-hdg02">New</h2>
<div class="inner">
<ol class="new-article" id="sideArtList">
</ol>
</div><!-- /.inner -->
</div><!-- /.sidebar-box -->
</div><!-- /.sidebar -->