<!DOCTYPE html>
<html lang="ja">
<head>
<!--#include virtual="/resource/inc/inc_gtag.html" -->
<!--#include virtual="/resource/inc/inc_adsense.html" -->
<meta charset="UTF-8">

<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
複製して作成をしたら必ず消す
============================================ -->
<meta name="robots" content="noindex,nofollow">

<title>${{DUMMY}} | arl-blog</title>
<meta name="description" content="${{DUMMY}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="canonical" href="https://arl-blog.com/${{DUMMY}}">
<link rel="stylesheet" href="/resource/css/reset.css">
<link rel="stylesheet" href="/resource/css/master.css">
</head>
<body>
<!--#include virtual="/resource/inc/inc_header.html" -->

<main id="Main">
<div class="wrapper">
<div class="content">

<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
ARTICLE START
============================================ -->
<article class="article-content">
<div class="hdg-01-wrapper">
<h1 class="hdg-01">Article Title</h1>
<time class="date">2019-10-28</time>
<ul class="tag-list">
<li class="list-item">aaaaa</li>
<li class="list-item">ccc</li>
<li class="list-item">aasaasa</li>
<li class="list-item">ggggggg</li>
</ul><!-- /.tag-list -->
</div>
<h2 class="hdg-02">Article Title</h2>
<p class="text">dummy dummy dummy <a href="#" class="text-link">dummy</a> dummy <em class="text-em">dummy</em> dummy <strong class="text-strong">dummy</strong> dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy </p>
<h3 class="hdg-03">Article Title</h3>
<h4 class="hdg-04">Article Title</h4>
<h5 class="hdg-05">Article Title</h5>

<ul class="list">
<li class="list-item">aaa</li>
<li class="list-item">bbb</li>
<li class="list-item">
ccc
<ul class="list">
<li class="list-item">aaa</li>
<li class="list-item">bbb</li>
<li class="list-item">ccc</li>
</ul>
</li>
<li class="list-item">ddd</li>
<li class="list-item">eee</li>
</ul>

<ul class="list symbol">
<li class="list-item"><span class="symbol-num">1.</span>aaa</li>
<li class="list-item"><span class="symbol-num">2.</span>bbb</li>
<li class="list-item"><span class="symbol-num">3.</span>ccc</li>
<li class="list-item"><span class="symbol-num">※</span>ddd</li>
<li class="list-item"><span class="symbol-num">※</span>eee</li>
</ul>

<dl class="desc">
<div class="desc-wrapper">
<dt class="desc-title">title</dt>
<dd class="desc-data">data</dd>
</div>
<div class="desc-wrapper">
<dt class="desc-title">title</dt>
<dd class="desc-data">data</dd>
</div>
<div class="desc-wrapper">
<dt class="desc-title">title</dt>
<dd class="desc-data">data</dd>
</div>
<div class="desc-wrapper">
<dt class="desc-title">title</dt>
<dd class="desc-data">data</dd>
</div>
</dl>

<div class="img-wrapper">
<img class="img-l" src="./img/dummy.jpg" alt="">
</div>

<div class="img-wrapper">
<img class="img-m" src="./img/dummy.jpg" alt="">
</div>

<div class="img-wrapper">
<img class="img-s" src="./img/dummy.jpg" alt="">
</div>

<code class="code" data-lang="HTML">
aaaaaaaaaaaa
function () {
    fsfgdffg;
}
</code>
<code class="code" data-lang="CSS">
aaaaaaaaaaaa
function () {
    fsfgdffg;
}
</code>
<code class="code" data-lang="JavaScript">
aaaaaaaaaaaa
function () {
    fsfgdffg;
}
</code>

</article>
<!-- ===========================================
ARTICLE END
▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->

<!--
<div class="pager">
<ol class="pager-list">
<li class="list-item"><a class="pager-btn first" href="/"><span class="inner">最初のページに戻る</span></a></li>
<li class="list-item"><a class="pager-btn back" href="/"><span class="inner">前のページに戻る</span></a></li>
<li class="list-item"><a class="pager-btn pager-number" href="/" aria-current="page">1</a></li>
<li class="list-item"><a class="pager-btn pager-number" href="/">2</a></li>
<li class="list-item"><a class="pager-btn pager-number" href="/">3</a></li>
<li class="list-item"><a class="pager-btn pager-number" href="/">4</a></li>
<li class="list-item"><a class="pager-btn pager-number" href="/">5</a></li>
<li class="list-item"><a class="pager-btn next" href="/"><span class="inner">次のページに進む</span></a></li>
<li class="list-item"><a class="pager-btn last" href="/"><span class="inner">最後のページに進む</span></a></li>
</ol>
</div>
-->
</div><!-- /.content -->

<!--#include virtual="/resource/inc/inc_sidebar.html" -->
</div><!-- /.wrapper -->
</main>
<!--#include virtual="/resource/inc/inc_footer.html" -->
<script src="/resource/js/init.js"></script>
<script src="/resource/js/run.js"></script>
</body>
</html>