.article-list {
    @include mediaTablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    > .list-item {
        overflow: hidden;
        margin: 0 auto;

        &:not(:first-child) {
            margin-top: 50px;
        }
        @include mediaTablet {
            margin: 0 2.5%;
            max-width: none;
            width: 45%;
            &:first-child {
                width: 100%;
                padding-bottom: 50px;
                border-bottom: 1px solid $fontColorGrey;
            }
        }

        .article-link {
            position: relative;
            padding: 0 2%;
            display: flex;
            flex-direction: column;
            &::after {
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                border-left: 1px solid;
                border-bottom: 1px solid;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            .hdg-03 {
                order: 2;
                margin-top: 5px;
            }
            .date {
                order: 1;
                display: inline-block;
                width: 100px;
                padding: 3px 0;
                text-align: center;
                font-size: $fontSP-s;
                color: lighten($fontColorGrey, 10%);
                background-color: lighten($bgNavy, 10%);
                @include mediaPC {
                    font-size: $fontPC-s;
                }
            }
            .genre {
                position: absolute;
                top: -50px;
                right: -50px;
                width: 100px;
                height: 100px;
                color: #fff;
                background-color: #000;
                transform: rotate(45deg);
                .inner {
                    display: inline-block;
                    width: 90%;
                    font-size: 1rem;
                    text-align: center;
                    white-space: nowrap;
                    position: absolute;
                    bottom: 5px;
                    left: 5%;
                }
            }
            .tag-list {
                order: 3;
                display: flex;
                .list-item {
                    display: inline-block;
                    margin-right: 1.5rem;
                    color: $fontColorDarkGrey;
                    font-size: $fontSP-xs;
                    @include mediaPC {
                        font-size: $fontPC-xs;
                    }
                }
            }
            .description {
                order: 4;
                font-size: $fontSP-m;
                padding: 10px 0 30px;
                line-height: 2;
                @include mediaPC {
                    font-size: $fontPC-m;
                }
            }
            .article-img {
                width: 25%;
                margin: 0 auto;
                order: 0;
            }
        }
    }
}

.pager {
    margin: 30px 0 0;
    @include mediaPC {
        margin: 40px 0 0;
    }
    &-list {
        display: flex;
        justify-content: center;
        .list-item {
            margin: 0 3px;
            align-items: center;
        }
    }
    &-number {
        font-weight: bold;
        &[aria-current="page"] {
            text-decoration: underline;
        }
    }
    &-btn {
        position: relative;
        display: inline-block;
        font-size: $fontSP-s;
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        width: 25px;
        padding: .7rem 0;
        background-color: #fff;
        overflow: hidden;
        transition: background-color .6s;
        @include mediaTablet {
            width: 42px;
            padding: 1.2rem 0;
            font-size: $fontPC-s;
        }
        &:hover, &:focus {
            background-color: lighten($bgNavy, 10%);
            color: $fontColorGrey;
            opacity: 1;
        }
        .inner {
            position: relative;
            z-index: -1;
        }
        @mixin allow($direction, $center:true, $position:null) {
            content: "";
            display: inline-block;
            position: absolute;
            top: calc(50% - 5px);
            width: 10px;
            height: 10px;
            border-top: 2px solid;
            border-#{$direction}: 2px solid;
            &:hover {
                border-top-color: $fontColorGrey;
                border-#{$direction}-color: $fontColorGrey;
            }
            @if $direction == right {
                transform: rotate(45deg);
            } @else if $direction == left {
                transform: rotate(-45deg);
            }
            @if $center == true {
                #{$direction}: calc(50% - 4px);
            } @else {
                #{$direction}: $position;
            }

            @include mediaTablet {
                width: 12px;
                height: 12px;
                top: calc(50% - 6px);
                @if $center == true {
                    #{$direction}: calc(50% - 5px);
                } @else {
                    #{$direction}: $position + 6;
                }
            }
        }
        &.back::before {
            @include allow(left)
        }
        &.next::before {
            @include allow(right)
        }
        &.first {
            &::before {
            @include allow(left, false, 6px)
            }
            &::after {
            @include allow(left, false, 14px)
            }
        }
        &.last {
            &::before {
            @include allow(right, false, 6px)
            }
            &::after {
            @include allow(right, false, 14px)
            }
        }
    }
}