.article-content {
  overflow: hidden;
  .hdg {
    &-01 {
      order: 2;
      font-size: 2rem;
      text-align: left;
      margin-top: 15px;
      @include mediaPC {
          font-size: 2.4rem;
          text-align: center;
      }
      &-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid $fontColorGrey;
        .date {
          order: 1;
          display: block;
          width: 80px;
          margin: 0 auto;
          padding: 2px 0;
          text-align: center;
          font-size: $fontSP-xs;
          color: lighten($fontColorGrey, 10%);
          background-color: lighten($bgNavy, 10%);
          @include mediaPC {
              font-size: $fontPC-xs;
          }
        }
        .tag-list {
          order: 3;
          display: flex;
          justify-content: center;
          .list-item {
            display: inline-block;
            margin: 0 1.5rem;
            color: $fontColorDarkGrey;
            font-size: $fontSP-xs;
            &::before {
              content: none;
            }
            @include mediaPC {
              font-size: $fontPC-xs;
            }
          }
        }
      }
    }
    &-02 {
      position: relative;
      display: inline-block;
      font-size: 1.8rem;
      text-align: left;
      max-width: 55%;
      margin-top: 45px;
      margin-left: 30px;
      @include mediaPC {
          font-size: 2.2rem;
      }
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        right: calc(100% + 15px);
        top: 50%;
        width: 1000px;
        border-top: 1px solid $fontColorGrey;
      }
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: calc(100% + 15px);
        top: 50%;
        width: 1000px;
        border-top: 1px solid $fontColorGrey;
      }
    }
    &-03 {
      position: relative;
      font-size: 1.7rem;
      margin-top: 30px;
      padding-left: 20px;
      @include mediaPC {
        font-size: 2rem;
      }
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: calc(50% - 3px);
        left: 0;
        border-left: 15px solid lighten($fontColorGrey, 12%);
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
      }
    }
    &-04 {
      font-size: 1.6rem;
      margin-top: 20px;
      @include mediaPC {
        font-size: 1.8rem;
      }
    }
    &-05 {
      font-size: 1.5rem;
      margin-top: 15px;
      margin-bottom: 0;
      @include mediaPC {
        font-size: 1.7rem;
      }
    }
  }

  .text {
    margin-top: 50px;
    &-link {
      text-decoration: underline;
    }
    &-em {
      font-weight: bold;
      font-style: normal;
    }
    &-strong {
      font-weight: bold;
    }
  }

  .list {
    margin-top: 20px;
    margin-left: 20px;
    &-item {
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 12px;
        right: calc(100% + 5px);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $fontColorGrey;
      }
      > .list {
        margin-top: 0;
      }
    }
    &.symbol {
      .list-item {
        .symbol-num {
          position: absolute;
          right: calc(100% + 5px);
        }
        &::before {
          content: none;
        }
      }
    }
  }
  .desc {
    margin-top: 30px;
    @include mediaPC {
      margin-top: 40px;
    }
    &-wrapper:not(:first-child) {
      margin-top: 20px;
    }
    &-title {
      font-weight: bold;
    }
  }
  .code {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 30px 10px;
    background-color: #000;
    color: #f0f0f0;
  }

  .img {
    @mixin img($size) {
      margin: 0 auto;
      @if $size == l {
        width: 100%;
        @include mediaTablet {
          width: 85%;
        }
        @include mediaPC {
          width: 70%;
        }
      }
      @else if $size == m {
        width: 80%;
        @include mediaTablet {
          width: 65%;
        }
        @include mediaPC {
          width: 50%;
        }
      }
      @if $size == s {
        width: 60%;
        @include mediaTablet {
          width: 45%;
        }
        @include mediaPC {
          width: 30%;
        }
      }
    }
    &-wrapper {
      width: 100%;
      margin-top: 60px;
    }
    &-l {
      @include img(l)
    }
    &-m {
      @include img(m)
    }
    &-s {
      @include img(s)
    }
  }
}