main {
    max-width: $maxPC-width;
    margin: 0 auto;
}
.wrapper {
    width: 90%;
    max-width: $maxSP-width;
    margin: 0 auto;
    padding: 50px 0 70px;
    .content {
        padding-bottom: 50px;
    }
    @include mediaPC {
    width: 90%;
    max-width: none;
        display: flex;
        justify-content: space-between;

        .content {
            width: 70%;
        }
        .sidebar {
            width: 22%;
        }
    }
}