@charset 'utf-8';
@font-face {
    font-family: 'NotoSansCJKjp';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src:
        local('Noto Sans CJK JP'),
        url('/resource/fonts/min/NotoSansCJKjp-Regular_min.woff2') format('woff2')
}
@font-face {
    font-family: 'NotoSansCJKjp';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src:
        local('Noto Sans CJK JP'),
        url('/resource/fonts/min/NotoSansCJKjp-Bold_min.woff2') format('woff2')
}

html {
    font-size: 62.5%;
}

body {
    font-size: $fontSP-m;
    font-family: 'NotoSansCJKjp', '游ゴシック Medium', YuGothic, YuGothicM, 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, sans-serif;
    line-height: 2;
    color: $fontColorSP;
    @include mediaPC {
        font-size: $fontPC-m;
        color: $fontColorPC;
    }
}

a {
    color: inherit;
    text-decoration: none;
    transition: opacity .4s;
    &:hover, &:focus {
        opacity: .6;
    }
}

@for $i from 0 through 3 {
    h#{$i + 1} {
        font-size: 24px - $i * 2;
        line-height: 1.5;
    }
}

.hidden {
    display: none;
}

html.hidden {
    display: block;
    height: 100%;
    overflow: hidden;
}

.skip-text {
    position: fixed;
    top: -100%;
}