footer {
    background-color: $bgNavy;
    color: $fontColorGrey;
    padding: 35px 0 40px;
    font-size: $fontSP-s;

    @include mediaPC {
        font-size: $fontPC-s;
    }
}

.foot {
    &-nav {
        padding-bottom: 30px;
    }
    &-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .list-item {
            margin: .8rem 1.5rem;
        }
    }
}

.copyright {
    margin-top: 40px;
    text-align: center;
}