.header-inner {
    position: relative;
    padding-top: 6rem;

    @include mediaPC {
        width: 98%;
        max-width: $maxPC-width;
        margin: 0 auto;
    }
}

.mv-area {
    width: 96%;
    margin: 0 auto;
    border-bottom: 1px solid;
    padding-bottom: 30px;
    .inner {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    .title {
        font-weight: bold;
        font-size: $fontSP-s;
    }

    .sub-title {
        display: block;
        font-size: $fontSP-xs;
        color: $fontColorDarkGrey;
    }

    .description {
        font-size: $fontSP-s;
        text-align: center;
        width: 93%;
        margin: 1rem auto 0;
    }

    @include mediaPC {

        .title {
            font-size: $fontPC-s;
        }

        .sub-title {
            font-size: $fontPC-xs;
        }

        .description {
            font-size: $fontPC-s;
        }
    }
}

.local-nav {
    .list {
        position: absolute;
        top: 2.2rem;
        left: 1.6rem;

        &-item {
            display: inline-block;
            font-size: $fontSP-s;
            color: $fontColorDarkGrey;
            letter-spacing: .1em;

            &:not(:first-child) {
                margin-left: 1.6rem;
            }

            @include mediaPC {
                font-size: $fontPC-s;
            }
        }
    }
}

.humburger-btn {
    font-size: 0;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 15px;
    height: 12px;
    border: none;
    background-color: transparent;

    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        border-top: 2px solid;
    }

    &[aria-expanded="true"] {
        &::before {
            transform: rotate(45deg);
            top: calc(50% - 1px);
        }

        &::after {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
        }

    }

    &[aria-expanded="false"] {
        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        .humburger-btn-inner::before {
            @extend .humburger-btn::before;
            top: calc(50% - 1px);
        }
    }

    @include mediaPC {
        display: none;
    }
}

.global-nav-wrapper {
    display: block;
    overflow: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    background-color: #fff;
    padding-top: 40px;
    opacity: 1;

    &:not([data-anime="none"]) {
        transition: opacity .6s;
    }

    &.hidden {
        opacity: 0;
    }

    .list-item {
        font-size: $fontSP-l;
        margin: 1.8rem 0;
        .text-link.selected {
            display: inline-block;
            padding-bottom: -3px;
            border-bottom: 1px solid;
        }
    }

    @include mediaPC {
        position: static;
        width: 100%;
        padding: 10px 0 0;


        .list {
            display: flex;
            justify-content: center;

            &-item {
                font-size: $fontPC-l;
                margin: 0 2.2rem;
            }
        }
    }
}