.sidebar-box {
    &:not(:first-child) {
        margin-top: 50px;
    }
    .side-hdg02 {
        color: lighten($fontColorGrey, 10%);
        font-size: 2rem;
        text-align: center;
        padding: .7rem 0;
        background-color: $bgNavy;
    }
    > .inner {
        padding: 30px 15px;
        border: 1px solid lighten($fontColorGrey, 10%);
        border-top: 0;
        .img-wrapper {
            width: 160px;
            height: 160px;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 50%;
            @include mediaPC {
                width: 120px;
                height: 120px;
            }
            .profile-pic {
                width: 100%;
            }
        }
        .name {
            font-weight: bold;
            font-size: $fontSP-l;
            text-align: center;
            margin-top: 10px;
            @include mediaPC {
                font-size: $fontPC-l;
            }
        }
        .description {
            font-size: $fontSP-m;
            margin-top: 10px;
            a {
                text-decoration: underline;
            }
        }
    }
    .new-article {
        > .list-item {
            &:not(:first-child) {
                padding-top: 15px;
            }
            &:not(:last-child) {
                padding-bottom: 15px;
                border-bottom: 1px solid $fontColorGrey;
            }
            .article-link {
                position: relative;
                display: block;
                color: #fff;
                text-align: center;
                width: 100%;
                max-width: 500px;
                min-height: 150px;
                margin: 0 auto;
                padding: 25% 0 10%;
                overflow: hidden;
                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: #000;
                    opacity: .6;
                    z-index: -1;
                }
                @include mediaPC {
                    max-width: auto;
                }
                .side-hdg03 {
                    font-size: 1.6rem;
                    width: 90%;
                    margin: 0 auto;
                    @include mediaPC {
                        font-size: 1.8rem;
                    }
                }
                .date {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    display: inline-block;
                    width: 80px;
                    padding: 3px 0;
                    text-align: center;
                    font-size: $fontSP-xs;
                    color: lighten($fontColorGrey, 10%);
                    background-color: lighten($bgNavy, 10%);
                    @include mediaPC {
                        font-size: $fontPC-xs;
                    }
                }
                .genre {
                    position: absolute;
                    top: -45px;
                    right: -45px;
                    width: 90px;
                    height: 90px;
                    color: #fff;
                    background-color: #000;
                    transform: rotate(45deg);
                    .inner {
                        display: inline-block;
                        width: 90%;
                        font-size: 10px;
                        text-align: center;
                        white-space: nowrap;
                        position: absolute;
                        bottom: 0;
                        left: 5%;
                    }
                }
                .tag-list {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    .list-item {
                        display: inline-block;
                        margin: 0 .8rem;
                        color: $fontColorGrey;
                        font-size: $fontSP-xs;
                        @include mediaPC {
                            font-size: $fontPC-xs;
                        }
                    }
                }
                .side-back {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -2;
                }
            }
        }
    }
}
