$minTablet: 768px;
$minPC: 1024px;
$maxSP-width: 760px;
$maxPC-width: 1500px;

@mixin mediaTablet {
    @media (min-width: $minTablet) {
        @content;
    }
}

@mixin mediaPC {
    @media (min-width: $minPC) {
        @content;
    }
}

$fontSP-xs: 1rem;
$fontSP-s: 1.2rem;
$fontSP-m: 1.4rem;
$fontSP-l: 1.6rem;
$fontPC-xs: 1.2rem;
$fontPC-s: 1.4rem;
$fontPC-m: 1.6rem;
$fontPC-l: 1.8rem;

$fontColorSP: #333;
$fontColorPC: #111;
$fontColorGrey: #c9c0c0;
$fontColorDarkGrey: #908787;
$fontColorRed: #751e26;


$bgNavy: #34495c;